pipeline/PL_Incremental_load.json
{
	"name": "PL_Incremental_load",
	"properties": {
		"activities": [
			{
				"name": "Lookup1_confin_Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "@concat('select config_date as config_date from ',pipeline().parameters.src_db,'.',pipeline().parameters.src_schema,'.',pipeline().parameters.incr_config_table)",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "Ds_snw_incr_config",
						"type": "DatasetReference",
						"parameters": {
							"Source_DB_Name": {
								"value": "@pipeline().parameters.src_db",
								"type": "Expression"
							},
							"Source_Schema_Name": {
								"value": "@pipeline().parameters.src_schema",
								"type": "Expression"
							},
							"Config_Table_Name": {
								"value": "@pipeline().parameters.incr_config_table",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Lookup2_Source_max_load_Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "@concat('select max(ord_date) as max_ord_date from ',pipeline().parameters.src_db,'.',pipeline().parameters.src_schema,'.',pipeline().parameters.source_table_name)",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "DS_snw_source_orders",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1_confin_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup2_Source_max_load_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "@concat('select *  from ',pipeline().parameters.src_db,'.',pipeline().parameters.src_schema,'.',pipeline().parameters.source_table_name,' where ord_date>',activity('Lookup1_confin_Date').output.firstRow.config_date)\n\n\n",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"sink": {
						"type": "SnowflakeSink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_snw_source_orders",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SNW_Tgt_Orders",
						"type": "DatasetReference",
						"parameters": {
							"Target_DB": {
								"value": "@pipeline().parameters.src_db",
								"type": "Expression"
							},
							"Target_Schema": {
								"value": "@pipeline().parameters.tgt_schema",
								"type": "Expression"
							},
							"Target_Table": {
								"value": "@pipeline().parameters.tgt_table",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"src_db": {
				"type": "String"
			},
			"src_schema": {
				"type": "String"
			},
			"incr_config_table": {
				"type": "String"
			},
			"source_table_name": {
				"type": "String"
			},
			"tgt_schema": {
				"type": "String"
			},
			"tgt_table": {
				"type": "String"
			}
		},
		"annotations": []
	}
}